# LOG levels: TRACE|DEBUG|INFO|WARN|ERROR|PANIC|FATAL|NOLOG (NOLOG is default if empty or mess)
TS_LOG_LEVEL=INFO
TS_APP_IP=127.0.0.1
# TG PROXY: OFF, ON # localhost:1080 SOCKS5 protocol with ssh dynamic port forwarding (flag -D)
TS_BOT_PROXY=OFF
TG_BOT_TOKEN=
